<title>Saed Mansour</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
<style>
@import url(http://fonts.googleapis.com/css?family=open-sans|Dosis|Tauri|PT+Sans+Narrow|Patrick+Hand+SC|Sniglet|Gochi+Hand|Shadows+Into+Light|McLaren|Roboto|Roboto+Condensed);


  body {
    /*background-image: linear-gradient(90deg, rgb(83, 184, 252) 25%, rgb(192, 230, 255) 100%);
background-image: -moz-linear-gradient(left, rgb(83, 184, 252) 25%, rgb(192, 230, 255) 100%);
background-image: -webkit-linear-gradient(left, rgb(83, 184, 252) 25%, rgb(192, 230, 255) 100%);
background-image: -o-linear-gradient(left, rgb(83, 184, 252) 25%, rgb(192, 230, 255) 100%);
background-image: -ms-linear-gradient(left, rgb(83, 184, 252) 25%, rgb(192, 230, 255) 100%);*/
  }

  .center-page-image {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-page-image img {
    position: relative;
    display: block;
    width: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;

  }

  .image-wrapper {
    background-color: rgba(57, 128, 174, 1.0);
    padding: 10px;
    border: 2px solid black;
    border-radius: 100%;
  }

  h1{
    font-family: 'gochi hand';
    font-size: 1em;
    font-weight: 300;
    text-align: center;
  }
</style>

<div class="center-page-image">
  <div class="image-wrapper"><img src="<%= asset_path 'wokami_me.png' %>" /></div>
  <h1>Hello :)!</h1>
</div>
