<!DOCTYPE html>
<html>
<head>
  <title>Saed Mansour</title>
  <link rel="icon" href="http://38.media.tumblr.com/avatar_9c74ea7e7dc0_128.png"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
